.App {
  width: 500px;
  height: 100%;
  margin: auto;
}

.App form {
  padding-left: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.container input,
.container output {
  font-size: medium;
  padding: 2px;
  border-radius: 6px;
  border: 1px solid gray;
}

.container input {
 padding: 4px 2px;
}

.App button {
  margin-top: 20px;
  padding: 7px 16px;
  color: white;
  background-color: blue;
  border-radius: 6px;
  border: 3px solid lightskyblue;
}
